.section-organic {
    background: #274C5B;
}

.section-organic  {
    padding-top: 140px;
}

.section-organic .tagline_title__wrapper .organic__title {
    color: #FFFFFF; 
}

.section-organic .organic-wrapper {
    display: flex;
    max-width: 1350px;
    justify-content: space-between;
    margin: 0 auto 30px;
}


@media only screen and (max-width: 1280px) {
    .section-organic .organic-wrapper {
        margin: 0 30px 30px;
    }
}
   
@media only screen and (max-width: 768px) {
    .section-organic .organic-wrapper .button-explore {
        align-self: flex-end;
        margin: 20px;
    }
}

@media only screen and (max-width: 640px) {
    .section-organic .organic-wrapper .button-explore {
        display: none;
    }
}

@media only screen and (max-width: 640px) {
    .section-organic .organic-wrapper {
        margin: 0;
}
    .section-organic .tagline_title__wrapper {
        text-align: center;
        max-width: 640px;
        width: 100%;
        margin-bottom: 40px;
    }

}

@media only screen and (max-width: 425px) {

    .section-organic .tagline_title__wrapper {
        max-width: 425px;
        width: 100%;
    } 
}

@media only screen and (max-width: 320px) {

    .section-organic .tagline_title__wrapper .organic__title{
        max-width: 320px;
        width: 100%;
    } 
}



